/* Постійні клієнти (Our Clients) */
/* CLIENTS START */
.clients {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 981px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.clients-title {
  @extend %text-base;

  margin-bottom: 30px;

  color: $primary-text-color;

  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;

  @media screen and (min-width: 981px) {
    margin-bottom: 50px;

    font-size: 36px;
    line-height: 1.17;
  }
}

.clients-list {
  @extend %list;

  display: flex;

  @media screen and (max-width: 980px) {
    flex-wrap: wrap;

    margin: -15px;
  }
}

.clients-list__item {
  // width: 100%;
  // max-width: 210px;
  width: calc((100% - 2 * 30px) / 2);

  border: 1px solid $social-nav-color;
  border-radius: 4px;

  @media screen and (max-width: 560px) {
    margin: 15px;
  }

  @media screen and (min-width: 561px) and (max-width: 980px) {
    margin: 15px;

    // max-width: 226px;
    width: calc((100% - 3 * 30px) / 3);
  }

  @media screen and (min-width: 981px) {
    // max-width: 170px;
    width: calc((100% - 5 * 30px) / 6);

    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  transition: border-color 250ms $timing-function;

  &:hover,
  &:focus {
    border-color: $accent-color;
  }

  &:hover .client-logo__icon,
  &:focus .client-logo__icon {
    color: $accent-color;
  }
}

.client-logo__icon {
  color: $social-nav-color;
  --color1: currentColor;

  transition-duration: 250ms;
  transition-timing-function: $timing-function;
}

.client-logo {
  @extend %item-centered;

  height: 90px;
}
