/* Особливості у підходах до роботи (Features) */
/* FEATURES START */
.features {
  padding-top: 60px;

  @media screen and (min-width: 981px) {
    padding-top: 94px;
  }

  .container {
    padding-bottom: 60px;

    border-bottom: 1px solid $line-hr-color;

    @media screen and (min-width: 981px) {
      padding-bottom: 94px;
    }
  }
}

.features-list {
  @extend %list;

  @media screen and (min-width: 561px) and (max-width: 980px) {
    margin: -15px;

    display: flex;
    flex-wrap: wrap;
  }

  @media screen and (min-width: 561px) {
    display: flex;
  }
}

.features-list__item {
  width: 100%;
  max-width: 450px;

  @media screen and (max-width: 560px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 561px) and (max-width: 980px) {
    margin: 15px;

    max-width: 354px;
  }

  @media screen and (min-width: 981px) {
    max-width: 270px;

    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.features-list__icon {
  display: block;
}

.features-list__background {
  @extend %item-centered;

  height: 120px;

  background-color: $secondary-bg-color;
  border-radius: 4px;
}

.features-list__title {
  @extend %text-base;

  margin-top: 30px;
  margin-bottom: 10px;
  color: $primary-text-color;

  font-style: normal;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;

  @media screen and (max-width: 560px) {
    text-align: center;
  }
}

.features-list__text {
  @extend %text-base;

  color: $secondary-text-color;
  line-height: 1.71;
}
/* FEATURES END */
