$primary-text-color: #212121;
$secondary-text-color: #757575;
$logo-text-color: #000000;

$accent-color: #2196f3;
$primary-white-color: #ffffff;
$footer-bg-color: #2f303a;
$secondary-bg-color: #f5f4fa;
$line-hr-color: #ececec;
$social-nav-color: #afb1b8;
$product-card-border-color: #eeeeee;
$order-btn-color: #188ce8;
$footer-nav-icon-color: #44454e;
$product-overlay-color: rgba(33, 150, 243, 0.9);
$footer-contacts-color: rgba(255, 255, 255, 0.6);
$footer-copyright-color: rgba(255, 255, 255, 0.4);
$footer-line-hr-color: rgba(255, 255, 255, 0.1);
$hero-overlay-color: rgba(47, 48, 58, 0.8);
$backdrop-background-color: rgba(0, 0, 0, 0.2);
$order-input-border-color: rgba(33, 33, 33, 0.2);

$font-logo: 'Raleway', sans-serif;
$font-text: 'Roboto', sans-serif;

$button-order-shadow: rgba(0, 0, 0, 0.15);

$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
